@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400);
$breakpoints: (
  'mobile': 320px,
  'mobileMedium': 374px,
  'mobileLandscape': 480px,
  'phablet': 660px,
  'tablet': 740px,
  'desktop': 980px,
  'leftCol': 1140px,
  'wide': 1300px
)
!default;
@font-face {
  font-family: 'GTThin';
  src: url("../fonts/GT-America-Extended-Thin.eot");
  src: url("../fonts/GT-America-Extended-Thin.eot?#iefix") format('embedded-opentype'), url("../fonts/GT-America-Extended-Thin.woff2") format('woff2'), url("../fonts/GT-America-Extended-Thin.woff") format('woff'), url("../fonts/GT-America-Extended-Thin.ttf") format('truetype');
}
/// Mixin to manage responsive breakpoints
@mixin mq($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  // If the key doesn't exist in the map
@else
  {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}