@import 'base';
$roboto: 'Roboto Mono', monospace;
$black: #222222;
$darkGrey: #545454;
$midGrey: #BDBDBD;
$white: #D5D5D5;
$marginTop: 5px;
$marginBottom: 20px;
$marginLeft: 10px;
$marginRight: 10px;

body {
  background: $black;
  color: $white;
  font-family: 'GTThin', sans-serif;
  margin: 0;

  p {
    @include mq('leftCol') {}
  }
}
// ••••••••• Work •••••••••

.tags {
  margin-top: -37px;
  margin-left: -11px;

  p {
    border: solid 1px $darkGrey;
    display: inline-block;
    margin: 0;
    font-family: $roboto;
    font-size: 13px;
    line-height: 14px;
    padding: 8px 0;
    color: $midGrey;

    span {
      padding: 6px 10px;
      border-right: solid 1px $darkGrey;

      &:nth-last-child(1) {
        border: none;
      }
    }
  }
}

.content-container {
  opacity: 0;
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
  padding: $marginTop $marginRight 0;
  border-top: solid 1px $darkGrey;
  border-left: solid 1px $darkGrey;
  max-width: 100%;
  margin-bottom: 40vh;
  @include mq('wide') {
    margin-left: 240px;
    margin-top: 68vh;
  }

  .underline1,
  .underline2 {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: solid 1px $darkGrey;
  }

  .underline1 {
    top: 73px;
  }

  .underline2 {
    top: 146px;
  }

  .header {
    h1 {
      margin: 0 0 10px;
      font-size: 60px;
      line-height: 70px;
      font-weight: lighter;
    }

    h3 {
      margin: 15px 0 30px;
      color: $midGrey;
      font-size: 18px;
      line-height: 26px;
      font-weight: lighter;
    }
  }

  .regular-width {
    max-width: 620px;
  }

  .main-media {
    margin: $marginTop 0;
    max-width: 1050px;
    border-radius: 15px;
  }

  .secondary-media {
    margin: $marginTop 0;
    max-width: 610px;
  }

  .small-media {
    margin: $marginTop 0;
    max-width: 220px;
  }

  .main-media-top {
    margin-top: $marginTop*2;
  }

  .main-media-bottom {
    margin-bottom: 60px;
  }

  .mobile-view {
    margin-top: 10px;
    border-radius: 0;
  }

  .section-title {
    font-family: $roboto;
    margin: 0 0 -$marginLeft;
    border-bottom: solid 1px $darkGrey;

    h4 {
      color: $midGrey;
      margin: -1px;
      font-size: 13px;
      line-height: 16px;
      padding: 6px 10px 8px;
      display: inline-block;
      border: solid 1px $darkGrey;
    }
  }

  .description {
    color: $midGrey;
    margin: 5px 0 60px;
    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
  }

  .bottom-nav {
    margin-left: -10px;
    margin-top: 60px;
    border-bottom: solid 1px $darkGrey;

    div {
      border-right: solid 1px $darkGrey;
      border-top: solid 1px $darkGrey;
      display: inline-block;

      svg {
        padding: 30px 36px;

        polygon {
          stroke: $white;
        }
      }
    }

    .right,
    .up {
      margin-left: -5px;
    }

    .up svg {
      position: relative;
      top: 5px;
      transform: rotate(30deg);
    }
  }
}
@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}