@import 'base';
$roboto: 'Roboto Mono', monospace;
$black: #222222;
$darkGrey: #545454;
$midGrey: #BDBDBD;
$white: #D5D5D5;
$marginTop: 5px;
$marginBottom: 20px;
$marginLeft: 10px;
$marginRight: 10px;

body {
  background: $black;
  color: $midGrey;
  font-family: 'GTThin', sans-serif;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    @include mq('leftCol') {}
  }
}
// ••••••••• Templates •••••••••

.home {
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  z-index: 9999;
  @include mq('tablet') {
    top: 10px;
    left: 10px;
  }

  &:hover {
    animation: home-button 1s cubic-bezier(0.23, 1, 0.32, 1);
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }

  svg {
    circle {
      opacity: 0;
    }

    polygon {
      stroke: $midGrey;
      fill: $black;
    }
  }
}

.tags {
  margin-top: -35px;
  margin-left: -11px;
  @include mq('desktop') {
    margin-top: -37px;
  }

  p {
    border: solid 1px $darkGrey;
    display: inline-block;
    margin: 0;
    font-family: $roboto;
    font-size: 11px;
    line-height: 12px;
    padding: 8px 0;
    color: $midGrey;
    @include mq('desktop') {
      font-size: 13px;
      line-height: 14px;
    }

    span {
      padding: 6px 10px;
      border-right: solid 1px $darkGrey;

      &:nth-last-child(1) {
        border: none;
      }
    }
  }
}

.bottom-nav,
.content-container {
  box-sizing: border-box;
  position: relative;
  padding: $marginTop $marginRight 0;
  border-top: solid 1px $darkGrey;
  border-left: solid 1px $darkGrey;
  width: 100%;
  margin-left: -1px;
  @include mq('tablet') {
    margin-left: 50px;
    width: 1000px;
  }
  @include mq('desktop') {
    margin-left: 150px;
    width: 1200px;
  }
  @include mq('leftCol') {
    margin-left: 190px;
  }
  @include mq('wide') {
    margin-left: 240px;
    width: 100%;
  }

  .underline1,
  .underline2,
  .underlineMobile1,
  .underlineMobile2 {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: solid 1px $darkGrey;
  }

  .underline1 {
    top: 50px;
    @include mq('tablet') {
      top: 55px;
    }
    @include mq('desktop') {
      top: 60px;
    }
    @include mq('leftCol') {
      top: 73px;
    }
  }

  .underline2 {
    top: 100px;
    @include mq('tablet') {
      top: 110px;
    }
    @include mq('desktop') {
      top: 120px;
    }
    @include mq('leftCol') {
      top: 146px;
    }
  }

  .underlineMobile1 {
    display: block;
    top: 150px;
    @include mq('tablet') {
      display: none;
    }
  }

  .underlineMobile2 {
    display: block;
    top: 100px;
    @include mq('tablet') {
      display: none;
    }
  }

  .header {
    h1 {
      margin: 0 0 5px;
      font-size: 40px;
      line-height: 50px;
      font-weight: lighter;
      @include mq('tablet') {
        font-size: 45px;
        line-height: 55px;
      }
      @include mq('desktop') {
        font-size: 50px;
        line-height: 60px;
      }
      @include mq('leftCol') {
        font-size: 60px;
        line-height: 74px;
      }
    }

    h3 {
      margin: 10px 0 30px;
      color: $midGrey;
      font-size: 15px;
      line-height: 22px;
      font-weight: lighter;
      @include mq('leftCol') {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  .regular-width {
    max-width: 100%;
    @include mq('mobileLandscape') {
      max-width: 500px;
    }
    @include mq('tablet') {
      max-width: 620px;
    }
  }

  .extended-width {
    max-width: 100%;
    @include mq('mobileLandscape') {
      max-width: 600px;
    }
    @include mq('tablet') {
      max-width: 700px;
    }
  }
}

.content-container {
  opacity: 0;
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  margin-bottom: 120px;
  border-bottom: solid 1px $darkGrey;
  margin-top: 68vh;
  padding-bottom: 5px;
  @include mq('tablet') {
    padding-bottom: 10px;
  }

  .main-media {
    margin-top: $marginTop;
    max-width: 100%;
    border-radius: 5px;
    @include mq('mobileLandscape') {
      border-radius: 10px;
    }
    @include mq('tablet') {
      border-radius: 10px;
      max-width: 700px;
    }
    @include mq('desktop') {
      margin-top: 10px;
      max-width: 780px;
    }
    @include mq('leftCol') {
      border-radius: 15px;
      max-width: 900px;
    }
    @include mq('wide') {
      max-width: 1000px;
    }
  }

  .secondary-media {
    margin: 10px 0;
    max-width: 100%;
    display: block;
    @include mq('mobileLandscape') {
      max-width: 400px;
    }
    @include mq('desktop') {
      max-width: 610px;
    }
  }

  .xsmall-media {
    margin: $marginTop 0;
    max-width: 150px;
    @include mq('tablet') {
      max-width: 190px;
    }
  }

  .small-media {
    margin: $marginTop 0;
    max-width: 180px;
    @include mq('tablet') {
      max-width: 220px;
    }
  }

  .medium-media {
    margin: $marginTop 0;
    max-width: 300px;
    @include mq('tablet') {
      max-width: 450px;
    }
  }

  .alt-media {
    margin: $marginTop 0;
    max-width: 200px;
    @include mq('tablet') {
      max-width: 300px;
    }
  }

  .mobile-media {
    width: 49.2%;
    padding: 1px 0;
    @include mq('phablet') {
      padding: 3px;
      width: 31.9%;
    }
  }

  .main-media-top {
    margin-top: $marginTop*2;
  }

  .main-media-bottom {
    margin-bottom: 30px;
    @include mq('leftCol') {
      margin-bottom: 60px;
    }
  }

  .mobile-view {
    margin-top: 10px;
    border-radius: 0;
  }

  .section-title {
    font-family: $roboto;
    margin: 0 0 -$marginLeft;
    border-bottom: solid 1px $darkGrey;

    h4 {
      color: $midGrey;
      margin: -1px;
      font-size: 11px;
      line-height: 12px;
      padding: 6px 10px 8px;
      display: inline-block;
      border: solid 1px $darkGrey;
      @include mq('desktop') {
        font-size: 13px;
        line-height: 14px;
      }
    }
  }

  .description {
    color: $midGrey;
    margin: 5px 0 30px;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
    margin-right: 10px;
    @include mq('desktop') {
      margin-bottom: 60px;
      font-size: 14px;
      line-height: 24px;
    }
    @include mq('leftCol') {
      font-size: 15px;
      line-height: 25px;
    }
  }

  .less-pad {
    margin-bottom: 20px;
  }
}

.bottom-nav {
  padding-bottom: 1px;
  transition: transform 0.4s;

  &:hover {
    padding-bottom: 20px;
    transform: translateY(-20px);
  }
}

.bio-container {
  margin-top: 40vh;
  font-family: $roboto;
  line-height: 1.8;
  font-size: 14px;
  margin-left: -1px;
  padding: 0 10px;
  opacity: 0;
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.2s;
  animation-fill-mode: forwards;

  p {
    font-weight: 100;
  }
  @include mq('tablet') {
    margin-left: 50px;
  }
  @include mq('desktop') {
    margin-left: 150px;
  }
  @include mq('leftCol') {
    margin-left: 190px;
  }
  @include mq('wide') {
    margin-left: 240px;
  }
}

.home-container {
  margin-top: 0;
  margin-bottom: 100px;
  padding-bottom: 0;
  border-bottom: none;

  &:hover {
    .home-image {
      display: block;
    }
  }

  h1 {
    color: $midGrey;
  }

  .home-image {
    animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    max-width: 390px;
    position: absolute;
    top: -50px;
    right: 500px;
    mix-blend-mode: screen;
    display: none;
  }
}

.home-container-top {
  margin-top: 35vh;
}
@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes home-button {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}