@import 'base';
$roboto: 'Roboto Mono', monospace;
$black: #222222;
$darkGrey: #4D4D4D;
$secondaryGrey: #AAAAAA;
$midGrey: #bbb;
$marginTop: 5px;
$marginBottom: 20px;
$marginLeft: 10px;
$marginRight: 10px;
$bg: #181818;

body {
  background: $bg;
  color: $midGrey;
  font-family: 'GTThin', sans-serif;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    @include mq('leftCol') {}
  }
}
// ••••••••• Templates •••••••••

.home-link {
  display: block;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  @include mq('tablet') {
    top: 5px;
    left: 0;
  }

  .button-wrap {
    padding: 20px;
  }

  &:hover {
    .line1 {
      transform-origin: 50% 50%;
      animation: home-button-1 0.2s;
      animation-fill-mode: forwards;
    }

    .line2 {
      transform-origin: 50% 50%;
      animation: home-button-2 0.2s;
      animation-fill-mode: forwards;
    }
  }

  svg {
    display: block;

    path {
      stroke: #777;
    }
  }

  .line2 {
    margin-top: 20px;
  }
}

.tags {
  margin-top: -36px;
  border-bottom: solid 1px $darkGrey;
  @include mq('desktop') {
    margin-top: -37px;
  }

  p {
    display: inline-block;
    margin: 0;
    font-family: $roboto;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    padding: 8px 0;
    color: $midGrey;
    @include mq('desktop') {
      font-size: 13px;
      line-height: 14px;
    }

    span {
      background: $bg;
      padding: 0 10px 6px;
      border-right: solid 1px $darkGrey;

      &:first-child {
        padding-left: 0;
      }

      &:nth-last-child(1) {
        border: none;
      }
    }

    .special-pad {
      padding-left: 0!important;
      @include mq('tablet') {
        padding-left: 10px!important;
      }
    }
  }
}

.bottom-nav,
.content-container {
  box-sizing: border-box;
  position: relative;
  padding: $marginTop 10px 0;
  width: 100%;
  margin-left: -1px;
  @include mq('tablet') {
    margin-left: 50px;
    width: auto;
    position: relative;
    right: 0;
  }
  @include mq('desktop') {
    margin-left: 150px;
    // width: 1200px;
  }
  @include mq('leftCol') {
    margin-left: 190px;
  }
  @include mq('wide') {
    margin-left: 240px;
  }

  .header {
    span {
      color: $midGrey;
      margin: 0 0 5px;
      font-size: 40px;
      line-height: 15px;
      padding-bottom: 30px;
      font-weight: lighter;
      box-shadow: inset 0 -14px 0 0 $bg, inset 0 -15px 0 0 $darkGrey;
      text-shadow: -4px 0 0 $bg, 0 -4px 0 $bg, 4px 0 0 $bg, 0 4px 0 $bg;
      display: block;
      // text-transform: lowercase;
      @include mq('mobileLandscape') {
        font-size: 50px;
        line-height: 20px;
      }
      @include mq('tablet') {
        font-size: 70px;
        line-height: 40px;
      }
      @include mq('desktop') {
        font-size: 80px;
        line-height: 50px;
      }
      @include mq('leftCol') {
        font-size: 90px;
        line-height: 60px;
      }
    }

    .roboto {
      font-family: $roboto;
      font-weight: lighter;
    }

    p {
      font-family: $roboto;
      font-size: 12px;
      line-height: 12px;
      font-weight: normal;
      position: relative;
      top: 15px;
      @include mq('desktop') {
        font-size: 13px;
        line-height: 13px;
      }
      @include mq('leftCol') {
        top: 40px;
      }
    }
  }

  .regular-width {
    max-width: 100%;
    @include mq('mobileLandscape') {
      max-width: 500px;
    }
    @include mq('tablet') {
      max-width: 620px;
    }
  }

  .extended-width {
    display: none;
    margin-top: 15px;
    max-width: 100%;
    @include mq('mobileLandscape') {
      display: block;
    }
  }

  .mobile-only {
    display: block;
    // margin-top: 20px;
    max-width: 100%;
    @include mq('mobileLandscape') {
      display: none!important;
    }
  }

  .visible {
    display: block;
  }
}

.content-container {
  opacity: 0;
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  margin-bottom: 120px;
  margin-top: 25vh;
  padding-bottom: 5px;
  background: $bg;
  @include mq('tablet') {
    padding-bottom: 10px;
    margin-top: 35vh;
  }

  .first-media,
  .main-media {
    margin-top: $marginTop;
    width: 100%;
    border-radius: 5px;
    @include mq('mobileLandscape') {
      border-radius: 10px;
    }
    @include mq('tablet') {
      border-radius: 10px;
    }
    @include mq('desktop') {
      max-width: 850px;
      margin-top: 10px;
    }
    @include mq('leftCol') {
      max-width: 950px;
      border-radius: 15px;
    }
    @include mq('wide') {
      max-width: 1100px;
    }
  }

  .flex-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px -5px;
    width: calc(100% + 10px);
    max-width: 1100px;
    border-radius: 5px;
    @include mq('mobileLandscape') {
      border-radius: 10px;
    }
    @include mq('tablet') {
      border-radius: 10px;
      max-width: 850px;
    }
    @include mq('leftCol') {
      border-radius: 15px;
      max-width: 950px;
    }
    @include mq('wide') {
      max-width: 1100px;
    }
  }

  .secondary-media {
    margin: 10px 0;
    max-width: 100%;
    display: block;
    @include mq('mobileLandscape') {
      max-width: 400px;
    }
    @include mq('desktop') {
      max-width: 610px;
    }
  }

  .xsmall-media {
    margin: $marginTop 0;
    max-width: 150px;
    @include mq('tablet') {
      max-width: 190px;
    }
  }

  .small-media {
    margin: $marginTop 0;
    max-width: 180px;
    @include mq('tablet') {
      max-width: 220px;
    }
  }

  .medium-media {
    margin: $marginTop 0;
    max-width: 300px;
    @include mq('tablet') {
      max-width: 450px;
    }
  }

  .alt-media {
    margin: $marginTop 0;
    max-width: 200px;
    @include mq('tablet') {
      max-width: 300px;
    }
  }

  .mobile-media {
    flex: 1;
    width: 32%;
    height: 32%;
    padding: 5px;
  }

  .mobile-media-2 {
    flex: 1;
    width: 48%;
    height: 48%;
    padding: 5px;
  }

  .main-media-top {
    margin-top: $marginTop*2;
  }

  .main-media-bottom {
    margin-bottom: 30px;
    @include mq('leftCol') {
      margin-bottom: 40px;
    }
  }

  .mobile-view {
    margin-top: 10px;
    border-radius: 0;
  }

  .first-media {
    margin-top: 20px;
    @include mq('leftCol') {
      margin-top: 20px;
    }
  }

  .margin-top {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .no-margin-top {
    margin-top: 10px;
  }

  .section-title {
    // margin: 0 10px;
    border-bottom: solid 1px $darkGrey;

    h4 {
      color: $midGrey;
      margin: 0 0 10px;
      font-family: $roboto;
      font-size: 12px;
      font-weight: normal;
      line-height: 13px;
      display: inline-block;
      @include mq('desktop') {
        font-size: 13px;
        line-height: 14px;
      }
    }
  }

  .description {
    color: $secondaryGrey;
    margin: 5px 0 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    max-width: 100%;
    margin-right: 10px;
    @include mq('tablet') {
      font-size: 15px;
      line-height: 25px;
    }
    @include mq('desktop') {
      margin-bottom: 60px;
    }
  }

  .less-pad {
    margin-bottom: 20px;
  }
}

.no-pad {
  padding-bottom: 0;
}

.bottom-nav-link {
  display: block;
  -webkit-transition: all 0.5s;

  &:focus {
    outline: none;
  }
}

.bottom-nav {
  padding-bottom: 10px;
  transition: transform 0.4s;

  &:hover {
    padding-bottom: 20px;
    transform: translateY(-20px);
  }
}

a:visited div,
a:visited div p {
  border: solid 1px $darkGrey;
}

.home-container {
  margin-top: 0;
  margin-bottom: 100px;
  padding-bottom: 0;
  border: none;
  background-color: $bg;
  @include mq('leftCol') {
    padding-bottom: 3px;
  }

  .email-link {
    color: #777;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  .home-image {
    animation: fade-in-move-up-image 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    max-width: 290px;
    position: absolute;
    right: 0;
    top: -50px;
    display: none;
    @include mq('desktop') {
      max-width: 390px;
      top: -50px;
      left: 400px;
    }
    @include mq('leftCol') {
      max-width: 490px;
      top: -70px;
      left: 450px;
    }
    @include mq('wide') {
      top: -70px;
      left: 550px;
    }
  }
}

.dark span {
  // color: #777;
}

.home-reveal {
  position: relative;

  &:hover {
    .home-image {
      display: block;
    }
  }
}

.home-tag {
  font-family: $roboto;
  color: #777!important;
  font-size: 12px!important;
  font-weight: normal!important;
  line-height: 0!important;
  margin-top: 20px!important;
  @include mq('mobileLandscape') {
    margin-top: 25px!important;
  }
  @include mq('tablet') {
    font-size: 13px!important;
    margin-top: 50px!important;
  }
  @include mq('desktop') {
    margin-top: 60px!important;
  }
  @include mq('leftCol') {
    margin-top: 70px!important;
  }
}

.home-container-top {
  margin-top: 67vh;
  @include mq('tablet') {
    margin-top: 45vh;
  }

  .hide {
    box-shadow: none!important;
    color: $bg!important;
  }
}
@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-move-up-image {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes home-button-1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}
@keyframes home-button-2 {
  0% {
    transform: translateY(0);
  }

  99% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}