@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,400);
@font-face {
  font-family: 'GTThin';
  src: url("../fonts/GT-America-Extended-Thin.eot");
  src: url("../fonts/GT-America-Extended-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-America-Extended-Thin.woff2") format("woff2"), url("../fonts/GT-America-Extended-Thin.woff") format("woff"), url("../fonts/GT-America-Extended-Thin.ttf") format("truetype");
}

body {
  background: #161616;
  color: #D0D0D0;
  font-family: 'GTThin', sans-serif;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: inherit;
}

.home-link {
  display: block;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@media (min-width: 740px) {
  .home {
    top: 5px;
    left: 0;
  }
}

.home .button-wrap {
  padding: 20px;
}

.home:hover .line1 {
  transform-origin: 50% 50%;
  animation: home-button-1 0.2s;
  animation-fill-mode: forwards;
}

.home:hover .line2 {
  transform-origin: 50% 50%;
  animation: home-button-2 0.2s;
  animation-fill-mode: forwards;
}

.home svg {
  display: block;
}

.home svg path {
  stroke: #777;
}

.home .line2 {
  margin-top: 20px;
}

.tags {
  margin-top: -36px;
  margin-left: -11px;
}

@media (min-width: 980px) {
  .tags {
    margin-top: -37px;
  }
}

.tags p {
  border: solid 1px #4D4D4D;
  display: inline-block;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: normal;
  line-height: 13px;
  padding: 8px 0;
  color: #D0D0D0;
}

@media (min-width: 980px) {
  .tags p {
    font-size: 13px;
    line-height: 14px;
  }
}

.tags p span {
  background: #222222;
  padding: 6px 10px;
  border-right: solid 1px #4D4D4D;
}

.tags p span:nth-last-child(1) {
  border: none;
}

.bottom-nav,
.content-container {
  box-sizing: border-box;
  position: relative;
  padding: 5px 10px 0;
  border-top: solid 1px #4D4D4D;
  border-left: solid 1px #4D4D4D;
  width: 100%;
  margin-left: -1px;
}

@media (min-width: 740px) {
  .bottom-nav,
  .content-container {
    margin-left: 50px;
    width: auto;
    position: relative;
    right: 0;
    padding-right: 50px;
  }
}

@media (min-width: 980px) {
  .bottom-nav,
  .content-container {
    margin-left: 150px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav,
  .content-container {
    margin-left: 190px;
  }
}

@media (min-width: 1300px) {
  .bottom-nav,
  .content-container {
    margin-left: 240px;
  }
}

.bottom-nav .underline1,
.bottom-nav .underline2,
.bottom-nav .underline3,
.bottom-nav .underline4,
.bottom-nav .underlineMobile1,
.bottom-nav .underlineMobile2,
.content-container .underline1,
.content-container .underline2,
.content-container .underline3,
.content-container .underline4,
.content-container .underlineMobile1,
.content-container .underlineMobile2 {
  position: absolute;
  left: 10px;
  right: 10px;
  border-bottom: solid 1px #4D4D4D;
  max-width: 100%;
}

@media (min-width: 740px) {
  .bottom-nav .underline1,
  .bottom-nav .underline2,
  .bottom-nav .underline3,
  .bottom-nav .underline4,
  .bottom-nav .underlineMobile1,
  .bottom-nav .underlineMobile2,
  .content-container .underline1,
  .content-container .underline2,
  .content-container .underline3,
  .content-container .underline4,
  .content-container .underlineMobile1,
  .content-container .underlineMobile2 {
    right: 50px;
  }
}

.bottom-nav .underline1,
.content-container .underline1 {
  top: 50px;
}

@media (min-width: 740px) {
  .bottom-nav .underline1,
  .content-container .underline1 {
    top: 55px;
  }
}

@media (min-width: 980px) {
  .bottom-nav .underline1,
  .content-container .underline1 {
    top: 60px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav .underline1,
  .content-container .underline1 {
    top: 73px;
  }
}

.bottom-nav .underline2,
.content-container .underline2 {
  top: 100px;
}

@media (min-width: 740px) {
  .bottom-nav .underline2,
  .content-container .underline2 {
    top: 110px;
  }
}

@media (min-width: 980px) {
  .bottom-nav .underline2,
  .content-container .underline2 {
    top: 120px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav .underline2,
  .content-container .underline2 {
    top: 146px;
  }
}

.bottom-nav .underline3,
.content-container .underline3 {
  top: 150px;
}

@media (min-width: 740px) {
  .bottom-nav .underline3,
  .content-container .underline3 {
    top: 160px;
  }
}

@media (min-width: 980px) {
  .bottom-nav .underline3,
  .content-container .underline3 {
    top: 170px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav .underline3,
  .content-container .underline3 {
    top: 219px;
  }
}

.bottom-nav .underline4,
.content-container .underline4 {
  top: 200px;
}

@media (min-width: 740px) {
  .bottom-nav .underline4,
  .content-container .underline4 {
    top: 210px;
  }
}

@media (min-width: 980px) {
  .bottom-nav .underline4,
  .content-container .underline4 {
    top: 220px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav .underline4,
  .content-container .underline4 {
    top: 292px;
  }
}

.bottom-nav .underlineMobile1,
.content-container .underlineMobile1 {
  display: block;
  top: 150px;
}

@media (min-width: 407px) {
  .bottom-nav .underlineMobile1,
  .content-container .underlineMobile1 {
    display: none;
  }
}

.bottom-nav .underlineMobile2,
.content-container .underlineMobile2 {
  display: block;
  top: 100px;
}

@media (min-width: 740px) {
  .bottom-nav .underlineMobile2,
  .content-container .underlineMobile2 {
    display: none;
  }
}

.bottom-nav .header h1,
.content-container .header h1 {
  margin: 0 0 5px;
  font-size: 40px;
  line-height: 50px;
  font-weight: lighter;
}

@media (min-width: 740px) {
  .bottom-nav .header h1,
  .content-container .header h1 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (min-width: 980px) {
  .bottom-nav .header h1,
  .content-container .header h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav .header h1,
  .content-container .header h1 {
    font-size: 60px;
    line-height: 69px;
    margin: 3px 0;
  }
}

.bottom-nav .header p,
.content-container .header p {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  position: relative;
  top: 15px;
}

@media (min-width: 980px) {
  .bottom-nav .header p,
  .content-container .header p {
    font-size: 13px;
    line-height: 13px;
  }
}

@media (min-width: 1140px) {
  .bottom-nav .header p,
  .content-container .header p {
    top: 40px;
  }
}

.bottom-nav .regular-width,
.content-container .regular-width {
  max-width: 100%;
}

@media (min-width: 480px) {
  .bottom-nav .regular-width,
  .content-container .regular-width {
    max-width: 500px;
  }
}

@media (min-width: 740px) {
  .bottom-nav .regular-width,
  .content-container .regular-width {
    max-width: 620px;
  }
}

.bottom-nav .extended-width,
.content-container .extended-width {
  max-width: 100%;
}

@media (min-width: 480px) {
  .bottom-nav .extended-width,
  .content-container .extended-width {
    max-width: 600px;
  }
}

@media (min-width: 740px) {
  .bottom-nav .extended-width,
  .content-container .extended-width {
    max-width: 700px;
  }
}

.content-container {
  opacity: 0;
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  margin-bottom: 120px;
  border-bottom: solid 1px #4D4D4D;
  margin-top: 25vh;
  padding-bottom: 5px;
  background: #222222;
}

@media (min-width: 740px) {
  .content-container {
    padding-bottom: 10px;
    margin-top: 35vh;
  }
}

.content-container .first-media,
.content-container .main-media {
  margin-top: 5px;
  width: 100%;
  max-width: 1160px;
  border-radius: 5px;
}

@media (min-width: 480px) {
  .content-container .first-media,
  .content-container .main-media {
    border-radius: 10px;
  }
}

@media (min-width: 740px) {
  .content-container .first-media,
  .content-container .main-media {
    border-radius: 10px;
  }
}

@media (min-width: 980px) {
  .content-container .first-media,
  .content-container .main-media {
    margin-top: 10px;
  }
}

@media (min-width: 1140px) {
  .content-container .first-media,
  .content-container .main-media {
    border-radius: 15px;
  }
}

.content-container .flex-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px -5px;
  width: calc(100% + 10px);
  max-width: 1160px;
  border-radius: 5px;
}

@media (min-width: 480px) {
  .content-container .flex-media {
    border-radius: 10px;
  }
}

@media (min-width: 740px) {
  .content-container .flex-media {
    border-radius: 10px;
  }
}

@media (min-width: 1140px) {
  .content-container .flex-media {
    border-radius: 15px;
  }
}

.content-container .secondary-media {
  margin: 10px 0;
  max-width: 100%;
  display: block;
}

@media (min-width: 480px) {
  .content-container .secondary-media {
    max-width: 400px;
  }
}

@media (min-width: 980px) {
  .content-container .secondary-media {
    max-width: 610px;
  }
}

.content-container .xsmall-media {
  margin: 5px 0;
  max-width: 150px;
}

@media (min-width: 740px) {
  .content-container .xsmall-media {
    max-width: 190px;
  }
}

.content-container .small-media {
  margin: 5px 0;
  max-width: 180px;
}

@media (min-width: 740px) {
  .content-container .small-media {
    max-width: 220px;
  }
}

.content-container .medium-media {
  margin: 5px 0;
  max-width: 300px;
}

@media (min-width: 740px) {
  .content-container .medium-media {
    max-width: 450px;
  }
}

.content-container .alt-media {
  margin: 5px 0;
  max-width: 200px;
}

@media (min-width: 740px) {
  .content-container .alt-media {
    max-width: 300px;
  }
}

.content-container .mobile-media {
  flex: 1;
  width: 32%;
  height: 32%;
  padding: 5px;
}

.content-container .mobile-media-2 {
  flex: 1;
  width: 48%;
  height: 48%;
  padding: 5px;
}

.content-container .main-media-top {
  margin-top: 10px;
}

.content-container .main-media-bottom {
  margin-bottom: 30px;
}

@media (min-width: 1140px) {
  .content-container .main-media-bottom {
    margin-bottom: 40px;
  }
}

.content-container .mobile-view {
  margin-top: 10px;
  border-radius: 0;
}

.content-container .first-media {
  margin-top: 20px;
}

@media (min-width: 1140px) {
  .content-container .first-media {
    margin-top: 50px;
  }
}

.content-container .margin-top {
  margin-top: 50px;
  margin-bottom: 0;
}

.content-container .no-margin-top {
  margin-top: 10px;
}

.content-container .section-title {
  border-bottom: solid 1px #4D4D4D;
}

.content-container .section-title h4 {
  color: #D0D0D0;
  margin: 0 0 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: normal;
  line-height: 13px;
  display: inline-block;
}

@media (min-width: 980px) {
  .content-container .section-title h4 {
    font-size: 13px;
    line-height: 14px;
  }
}

.content-container .description {
  color: #AAAAAA;
  margin: 5px 0 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  max-width: 100%;
  margin-right: 10px;
}

@media (min-width: 740px) {
  .content-container .description {
    font-size: 15px;
    line-height: 25px;
  }
}

@media (min-width: 980px) {
  .content-container .description {
    margin-bottom: 60px;
  }
}

.content-container .less-pad {
  margin-bottom: 20px;
}

.no-pad {
  padding-bottom: 0;
}

.bottom-nav-link {
  display: block;
  -webkit-transition: all 0.5s;
}

.bottom-nav-link:focus {
  outline: none;
}

.bottom-nav {
  background: #222222;
  padding-bottom: 1px;
  transition: transform 0.4s;
}

.bottom-nav:hover {
  padding-bottom: 20px;
  transform: translateY(-20px);
}

a:visited div,
a:visited div p {
  border: solid 1px #4D4D4D;
}

.bio-container {
  margin-top: 35vh;
  margin-bottom: 35vh;
  font-family: "Roboto Mono", monospace;
  line-height: 1.8;
  font-size: 14px;
  margin-left: -1px;
  padding: 0 10px;
  opacity: 0;
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.bio-container p {
  font-weight: 100;
}

@media (min-width: 740px) {
  .bio-container {
    margin-left: 50px;
  }
}

@media (min-width: 980px) {
  .bio-container {
    margin-left: 150px;
  }
}

@media (min-width: 1140px) {
  .bio-container {
    margin-left: 190px;
  }
}

@media (min-width: 1300px) {
  .bio-container {
    margin-left: 240px;
  }
}

.home-container {
  margin-top: 0;
  margin-bottom: 100px;
  padding-bottom: 0;
  border-bottom: none;
}

@media (min-width: 1140px) {
  .home-container {
    padding-bottom: 3px;
  }
}

.home-container:hover .home-image {
  display: block;
}

.home-container .home-image {
  animation: fade-in-move-up 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  max-width: 290px;
  position: absolute;
  top: -50px;
  right: 0;
  mix-blend-mode: screen;
  display: none;
}

@media (min-width: 980px) {
  .home-container .home-image {
    max-width: 390px;
    left: 450px;
  }
}

@media (min-width: 1140px) {
  .home-container .home-image {
    left: 480px;
  }
}

@media (min-width: 1300px) {
  .home-container .home-image {
    left: 550px;
  }
}

.home-container-top {
  margin-top: 35vh;
  margin-bottom: 200px;
  height: 800px;
}

.home-container-top h1 {
  display: none;
}

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes home-button-1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes home-button-2 {
  0% {
    transform: translateY(0);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
