<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <title>The Guardian Knife Crime Investigation</title>
</head>

<body>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span>
      </p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="underline1"></div>
      <div class="underline2"></div>
      <div class="regular-width">
        <h1>The Guardian Knife Crime Investigation</h1>
        <h3>A new immersive template for The Guardian’s award winning photojournalism team some text some text photo journalism team some text some text</h3>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <video class="main-media main-media-bottom" width="100%" height="auto" autoplay loop>
      <source src="../assets/BTB/BTB.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <h4 class="section-title">The Project</h4>
    <div class="regular-width">
      <p class="description">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.<br/>        <br/> viverra maecenas accumsan lacus vel facilisis volutpat est velit. Ornare lectus sit amet est placerat in. Sed pulvinar proin gravida hendrerit lectus. Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit
        amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel.
      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <h4 class="section-title">Logo</h4>
    <img class="small-media main-media-top main-media-bottom" src="../assets/BTB/BTB-logo.png">
    <h4 class="section-title">Palette</h4>
    <img class="secondary-media main-media-top main-media-bottom" src="../assets/BTB/BTB-Palette.png">
    <h4 class="section-title">Treatment</h4>
    <img class="secondary-media main-media-top main-media-bottom" src="../assets/BTB/BTB-Treat.png">
    <h4 class="section-title">Graphic</h4>
    <img class="secondary-media main-media-top" src="../assets/BTB/BTB-Graphic1.jpg">
    <img class="secondary-media" src="../assets/BTB/BTB-Graphic2.jpg">
    <img class="secondary-media" src="../assets/BTB/BTB-Graphic3.jpg">
    <img class="secondary-media main-media-bottom" src="../assets/BTB/BTB-Graphic4.jpg">
    <h4 class="section-title">Interface-Web</h4>
    <img class="main-media main-media-top" src="../assets/BTB/BTB-Interface1.jpg">
    <img class="main-media main-media-bottom" src="../assets/BTB/BTB-Interface2.jpg">
    <h4 class="section-title">Interface-Archive</h4>
    <img class="main-media main-media-top" src="../assets/BTB/BTB-Interface3.jpg">
    <img class="main-media main-media-top main-media-bottom" src="../assets/BTB/BTB-Interface4.jpg">
    <!-- •••••••••••••• Onward •••••••••••••• -->
    <div class="bottom-nav">
      <div class="left">
        <svg width="18" height="22" viewBox="0 0 18 22">
          <polygon fill="none" stroke="#666666" points="498 5426 481 5436 481 5416" transform="rotate(-180 249 2718.5)"/>
        </svg>
      </div>
      <div class="right">
        <svg width="18" height="22" viewBox="0 0 18 22">
          <polygon fill="none" stroke="#666666" points="458 5426 441 5436 441 5416" transform="translate(-440 -5415)"/>
        </svg>
      </div>
      <div class="up">
        <svg width="18" height="22" viewBox="0 0 18 22">
          <polygon fill="none" stroke="#666666" points="458 5426 441 5436 441 5416" transform="translate(-440 -5415)"/>
        </svg>
      </div>
    </div>

  </div>

</body>

</html>