<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>Condé Nast Digital</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width visible">
        <span>Condé Nast</span><span>Digital</span>

      </div>
    </div>
    <!-- •••••••••••••• One •••••••••••••• -->
    <img class="first-media main-media-bottom" src="../assets/Conde/Conde-top.jpg">

    <!-- •••••••••••••• Two •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        I worked for Condé Nast Digital when I first moved to London, giving me creative access to a remarkable and iconic range of brands including Vogue, Wired, GQ and Tattler. I worked on a team that created bespoke websites for external brands which would
        sit within one of Condé Nast’s in-house sites.<br/> <br/> The goal was always to create a beautiful, high-spec piece of digital design that would balance the external and internal brands needs. Projects often involved bespoke photoshoots
        and editorial, I was responsible for digital direction and design. This is a small selection of some of the work I produced for them.

      </p>
    </div>

    <div class="section-title">
      <h4>Vogue</h4>
    </div>

    <img class="main-media main-media-bottom" src="../assets/Conde/Conde1.jpg">
    <div class="section-title">
      <h4>Glamour – Armani Exchange</h4>
    </div>
    <img class="main-media main-media-bottom" src="../assets/Conde/Conde3.jpg">


    <!-- •••••••••••••• Three •••••••••••••• -->
    <div class="section-title">
      <h4>GQ – In The Frame</h4>
    </div>
    <img class="main-media main-media-bottom" src="../assets/Conde/Conde6.jpg">

  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/btb.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span>Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width visible">
            <span>The Guardian</span><span>Knife Crime</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>