<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>Condé Nast Digital</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/new/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="underline1"></div>
      <div class="underline2"></div>
      <div class="regular-width">
        <h1>Condé Nast<br/> Digital</h1>
        <h3>A new immersive template for The Guardian’s award winning photojournalism team some text some text photo journalism team some text some text</h3>
      </div>
    </div>
    <!-- •••••••••••••• One •••••••••••••• -->
    <div class="section-title">
      <h4>Vogue – Road Trip</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.
      </p>
    </div>
    <img class="main-media" src="../assets/Conde/Conde1.jpg">
    <img class="main-media" src="../assets/Conde/Conde2.jpg">
    <img class="main-media main-media-bottom" src="../assets/Conde/Conde8.jpg">
    <!-- •••••••••••••• Two •••••••••••••• -->
    <div class="section-title">
      <h4>Glamour – Armani Exchange</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.
      </p>
    </div>
    <img class="main-media" src="../assets/Conde/Conde3.jpg">
    <img class="main-media" src="../assets/Conde/Conde4.jpg">
    <img class="main-media main-media-bottom" src="../assets/Conde/Conde5.jpg">

    <!-- •••••••••••••• Three •••••••••••••• -->
    <div class="section-title">
      <h4>GQ – In The Frame</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.
      </p>
    </div>
    <img class="main-media" src="../assets/Conde/Conde6.jpg">
    <img class="main-media" src="../assets/Conde/Conde7.jpg">
  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/new/views/gallery.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span>Next Project</span></p>
        </div>
        <div class="header">
          <div class="underline1"></div>
          <div class="regular-width">
            <h1>The Guardian Picture Essay</h1>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>