<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-
  scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <title>Condé Nast Digital</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a href="#">
     <svg width="40" height="40" viewBox="0 0 40 40">
        <g fill="none" fill-rule="evenodd">
          <circle cx="20" cy="20" r="20" fill="#363636"/>
          <polygon stroke="#ADADAD" points="27.5 19.5 12.5 27.5 12.5 11.5" transform="rotate(-90 20 19.5)"/>
        </g>
      </svg>
     </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="underline1"></div>
      <div class="underline2"></div>
      <div class="regular-width">
        <h1>Condé Nast<br/> Digital</h1>
        <h3>A new immersive template for The Guardian’s award winning photojournalism team some text some text photo journalism team some text some text</h3>
      </div>
    </div>
    <!-- •••••••••••••• One •••••••••••••• -->
    <div class="section-title">
      <h4>Vogue – Road Trip</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.
      </p>
    </div>
    <img class="main-media" src="../assets/Conde/Conde1.jpg">
    <img class="main-media" src="../assets/Conde/Conde2.jpg">
    <img class="main-media main-media-bottom" src="../assets/Conde/Conde8.jpg">
    <!-- •••••••••••••• Two •••••••••••••• -->
    <div class="section-title">
      <h4>Glamour – Armani Exchange</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.
      </p>
    </div>
    <img class="main-media" src="../assets/Conde/Conde3.jpg">
    <img class="main-media" src="../assets/Conde/Conde4.jpg">
    <img class="main-media main-media-bottom" src="../assets/Conde/Conde5.jpg">

    <!-- •••••••••••••• Three •••••••••••••• -->
    <div class="section-title">
      <h4>GQ – In The Frame</h4>
    </div>
    <div class="regular-width">
      <p class="description less-pad">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.
      </p>
    </div>
    <img class="main-media" src="../assets/Conde/Conde6.jpg">
    <img class="main-media" src="../assets/Conde/Conde7.jpg">
  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="#" class="bottom-nav-link">
    <div class="bottom-nav next">
      <div class="tags">
        <p><span>Next Project</span></p>
      </div>
      <div class="header">
        <div class="underline1"></div>
        <div class="regular-width">
          <h1>The Guardian Picture Essay</h1>
        </div>
      </div>
    </div>
  </a>

</body>

</html>