<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>Evenly Distributed – New Art Platform</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58710208-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-58710208-1');
  </script>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container no-pad">
    <div class="tags">
      <p><span class="special-pad">Design Direction</span><span>UI</span><span>UX</span><span>Full Dev</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width">
        <span>Evenly Distributed</span><span>Art App</span>
      </div>
      <div class="mobile-only">
        <span>Evenly</span><span>Distributed</span><span>Art App</span>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <video class="first-media main-media-bottom mobile-view" width="100%" height="auto" poster="../assets/ED/ED-Poster.jpg" autoplay loop playsinline muted>
      <source src="../assets/ED/ED.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        Evenly Distributed is an iPhone app I conceived out of frustration with the lack of creative variety in the app store. I was interested in creating an app that didn’t adhere to a conventional, utilitarian use-case. Rather I wanted to create something
        that pushed what an app could be, reimagining the smartphone as a blank canvas for artists to disseminate conceptual projects through.<br/> <br/> I designed and built this app with my own hands, digging into Objective-C, then Apple’s only
        proprietary language, seeking ways to subvert the medium not just from an aesthetic level, but also from a structural, code-based level.

      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Stills</h4>
    </div>
    <div class="flex-media">
      <img class="mobile-media" src="../assets/ED/ED1.jpg">
      <img class="mobile-media" src="../assets/ED/ED6.jpg">
      <img class="mobile-media" src="../assets/ED/ED4.jpg">
    </div>
    <div class="flex-media">
      <img class="mobile-media" src="../assets/ED/ED3.jpg">
      <img class="mobile-media" src="../assets/ED/ED5.jpg">
      <img class="mobile-media" src="../assets/ED/ED2.jpg">
    </div>


  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/moody.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span class="special-pad">Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width">
            <span>Moody Film &</span><span>Television App</span>
          </div>
          <div class="mobile-only">
            <span>Moody Film</span><span>& Television</span><span>App</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>