<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>The Guardian Picture Essay</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58710208-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-58710208-1');
  </script>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span><span>Front-end</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width visible">
        <span>The Guardian</span><span>Picture Essay</span>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <img class="first-media main-media-bottom" src="../assets/Gallery/gallery1.jpg">
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        The Guardian Picture Essay is a new, immersive template designed to house The Guardian’s award-winning photojournalism, providing full-bleed images, video and interactive elements which bring the user closer than ever to the story.<br/> <br/>        I lead both the design and front-end development. A total of six image and text-based components were conceived to be used interchangeably by the editor. This allowed for a range of flexibility to suit any type of narrative while keeping consistency
        and rhythm for the user. The full-bleed imagery allows the pictures to breath and guide the story, while gridded images and pull-quote overlays provide pacing and context.

      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Video</h4>
    </div>
    <video class="main-media main-media-top main-media-bottom" width="100%" height="auto" autoplay loop playsinline muted>
      <source src="../assets/Gallery/Gallery-Desktop.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <div class="section-title">
      <h4>Interface – Stills</h4>
    </div>
    <img class="main-media" src="../assets/Gallery/gallery2.jpg">
    <img class="main-media" src="../assets/Gallery/gallery3.jpg">
    <img class="main-media" src="../assets/Gallery/gallery4.jpg">
    <img class="main-media main-media-bottom" src="../assets/Gallery/gallery5.jpg">
    <!-- •••••••••••••• Mobile •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Mobile</h4>
    </div>
    <video class="main-media mobile-view" width="100%" height="auto" autoplay loop playsinline muted>
      <source src="../assets/Gallery/Gallery-Mobile.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/vr.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span>Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width visible">
            <span>The Guardian</span><span>Virtual Reality</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>
