<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-
  scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <title>The Guardian Picture Essay</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a href="#">
      <svg width="40" height="40" viewBox="0 0 40 40">
         <g fill="none" fill-rule="evenodd">
           <circle cx="20" cy="20" r="20" fill="#363636"/>
           <polygon stroke="#ADADAD" points="27.5 19.5 12.5 27.5 12.5 11.5" transform="rotate(-90 20 19.5)"/>
         </g>
       </svg>
     </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span><span>Front-end</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="underline1"></div>
      <div class="underline2"></div>
      <div class="regular-width">
        <h1>The Guardian Picture Essay</h1>
        <h3>A new immersive template for The Guardian’s award winning photojournalism team some text some text photo journalism team some text some text</h3>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <img class="main-media main-media-bottom" src="../assets/Gallery/Gallery1.jpg">
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.<br/>        <br/> viverra maecenas accumsan lacus vel facilisis volutpat est velit. Ornare lectus sit amet est placerat in. Sed pulvinar proin gravida hendrerit lectus. Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit
        amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel.
      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Web</h4>
    </div>
    <video class="main-media main-media-top" width="100%" height="auto" autoplay loop>
      <source src="../assets/Gallery/Gallery-Desktop.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <img class="main-media" src="../assets/Gallery/Gallery2.jpg">
    <img class="main-media" src="../assets/Gallery/Gallery3.jpg">
    <img class="main-media" src="../assets/Gallery/Gallery4.jpg">
    <img class="main-media main-media-bottom" src="../assets/Gallery/Gallery5.jpg">
    <!-- •••••••••••••• Mobile •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Mobile</h4>
    </div>
    <video class="main-media mobile-view" width="100%" height="auto" autoplay loop>
      <source src="../assets/Gallery/Gallery-Mobile.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="#" class="bottom-nav-link">
    <div class="bottom-nav next">
      <div class="tags">
        <p><span>Next Project</span></p>
      </div>
      <div class="header">
        <div class="underline1"></div>
        <div class="underlineMobile2"></div>
        <div class="regular-width">
          <h1>The Guardian Knife Crime Investigation</h1>
        </div>
      </div>
    </div>
  </a>

</body>

</html>