<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>The Observer Graphic Special</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span>
      </p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width">
        <span>The Observer</span><span>Graphic Special</span>
      </div>
      <div class="mobile-only">
        <span>The Observer</span><span>Graphic</span><span>Special</span>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <img class="first-media main-media-bottom" src="../assets/Graphic/Graphic-Desktop1.jpg">
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        The Observer Graphic Novel special was a short series celebrating the booming art form and marking ten years of the Observer/Cape/Comica graphic short story prize. It spanned both print and digital and pulled together some of the biggest voices in the
        industry.
        <br/> <br/> I created a set of brand elements and guidelines for the digital output, designing a series of graphical elements that speak to the rich and playful history of both comic and graphic art. I wanted to make particular use the mediums
        unique panel and cross-panel layouts, employing the golden ratio to help create a visual harmony across the series.

      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Logo</h4>
    </div>
    <img class="medium-media main-media-top main-media-bottom" src="../assets/Graphic/Graphic-Logo.png">
    <div class="section-title">
      <h4>Palette</h4>
    </div>
    <img class="medium-media main-media-top main-media-bottom" src="../assets/Graphic/Graphic-Palette.png">
    <div class="section-title">
      <h4>Navigation</h4>
    </div>
    <img class="alt-media main-media-top main-media-bottom" src="../assets/Graphic/Graphic-Nav.jpg">
    <div class="section-title">
      <h4>Graphics</h4>
    </div>
    <img class="secondary-media main-media-top" src="../assets/Graphic/Graphic-Image1.jpg">
    <img class="secondary-media main-media-bottom" src="../assets/Graphic/Graphic-Image2.jpg">
    <div class="section-title">
      <h4>Interface – Special</h4>
    </div>
    <video class="main-media main-media-bottom" width="100%" height="auto" autoplay loop playsinline muted>
      <source src="../assets/Graphic/Graphic.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <div class="section-title">
      <h4>Interface – Interview</h4>
    </div>
    <img class="main-media" src="../assets/Graphic/Graphic-Desktop4.jpg">

  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/ed.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span class="special-pad">Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width">
            <span>Evenly Distributed</span><span>Art App</span>
          </div>
          <div class="mobile-only">
            <span>Evenly</span><span>Distributed</span><span>Art App</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>