<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>The Guardian Graphic Design</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58710208-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-58710208-1');
  </script>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container no-pad">
    <div class="tags">
      <p><span>Design Direction</span><span>Graphic Design</span>
      </p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width">
        <span>The Guardian</span><span>Graphic Design</span>
      </div>
      <div class="mobile-only">
        <span>The Guardian</span><span>Graphic</span><span>Design</span>
      </div>
    </div>

    <img class="first-media main-media-top mobile-view main-media-bottom" src="../assets/Misc/echo.jpg">

    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        A normal day at The Guardian can throw all kinds of design challenges at you, often from out of the blue and on a very quick turnaround. Working right on the pulse of the news cycle means that you have to think fast and work faster to get the best visual
        imagery out there to support the journalist and editors needs, while providing crucial context for the readers.<br/> <br/> This is a small collection of some of the work I’ve created on the fly for various projects in my time at The Guardian.
        From virtual reality to politics to global warming, each project is new, surprising and challenging.

      </p>
    </div>

    <div class="section-title">
      <h4>Underworld VR – Logo Concepts</h4>
    </div>
    <div class="flex-media main-media-bottom">
      <!-- <img class="mobile-media" src="../assets/Misc/8.png">
      <img class="mobile-media" src="../assets/Misc/1.png">
      <img class="mobile-media" src="../assets/Misc/3.png"> -->
      <img class="mobile-media" src="../assets/Misc/4.png">
      <img class="mobile-media" src="../assets/Misc/7.png">
      <img class="mobile-media" src="../assets/Misc/1.png">
    </div>

    <div class="section-title">
      <h4>Her Story - Guardian VR</h4>
    </div>
    <img class="main-media main-media-top mobile-view" src="../assets/Misc/graphic1.jpg">
    <img class="main-media mobile-view main-media-bottom" src="../assets/Misc/graphic2.jpg">

    <div class="section-title">
      <h4>Global Warming Series – Logo Concepts</h4>
    </div>
    <div class="flex-media main-media-bottom">
      <img class="mobile-media" src="../assets/Misc/logo-1.png">
      <img class="mobile-media" src="../assets/Misc/logo-2.png">
      <img class="mobile-media" src="../assets/Misc/logo-3.png">
    </div>

    <div class="section-title">
      <h4>Knife Crime Investigation</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom mobile-view" src="../assets/Misc/cal.jpg">

    <div class="section-title">
      <h4>The Budget 2017</h4>
    </div>
    <div class="flex-media">
      <img class="mobile-media-2" src="../assets/Misc/budget2.png">
      <img class="mobile-media-2" src="../assets/Misc/budget1.png">
    </div>




  </div>



  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/ed.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span class="special-pad">Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width">
            <span>Evenly Distributed</span><span>Art App</span>
          </div>
          <div class="mobile-only">
            <span>Evenly</span><span>Distributed</span><span>Art App</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>
