<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>Moody Film & Television App</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58710208-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-58710208-1');
  </script>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container no-pad">
    <div class="tags">
      <p><span class="special-pad">Design Direction</span><span>UI</span><span>UX</span><span>Full Dev</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width">
        <span>Moody Film &</span><span>Television App</span>
      </div>
      <div class="mobile-only">
        <span>Moody Film</span><span>& Television</span><span>App</span>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <video class="first-media main-media-bottom mobile-view" width="100%" height="auto" poster="../assets/Moody/Moody-Poster.jpg" autoplay loop playsinline muted>
      <source src="../assets/Moody/Moody.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        Moody is an app I designed and built for iPhone which was conceived around a simple interface concept. I wanted to create an app that allowed a user to input their current state-of-mind and it would then feedback with a relevant activity. It occured to
        me part-way through the design process that this was the perfect interface for listless TV and movie viewers who couldn’t decide what to watch.<br/> <br/> Built in Objective-C and on-top of a large open-source database, Moody allows the
        user to swipe around a colour-coded scale to set how you feel, they can then select ‘Movie Me’ or ‘TV Me’ to get an appropriate suggestion. It’s a fun and intuitive way to discover (or rediscover) film and television from around the world.

      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Stills</h4>
    </div>
    <div class="flex-media">
      <img class="mobile-media" src="../assets/Moody/Moody1.jpg">
      <img class="mobile-media" src="../assets/Moody/Moody2.jpg">
      <img class="mobile-media" src="../assets/Moody/Moody3.jpg">
    </div>

  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/conde.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span>Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width visible">
            <span>Condé Nast</span><span>Digital</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>