<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-
  scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <title>The Observer Food Monthly</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a href="#">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Design Direction</span><span>UI</span><span>UX</span><span>Front-end</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="underline1"></div>
      <div class="underline2"></div>
      <div class="regular-width">
        <h1>The Observer Food Monthly</h1>
        <h3>Ristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu</h3>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <img class="main-media main-media-bottom" src="../assets/OFM/ofm1.jpg">
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.<br/>        <br/> viverra maecenas accumsan lacus vel facilisis volutpat est velit. Ornare lectus sit amet est placerat in. Sed pulvinar proin gravida hendrerit lectus. Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit
        amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel.
      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Web</h4>
    </div>
    <video class="main-media main-media-top" width="100%" height="auto" autoplay loop>
      <source src="../assets/OFM/OFM-Desktop.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    <img class="main-media" src="../assets/OFM/ofm3.jpg">
    <img class="main-media" src="../assets/OFM/ofm2.jpg">
    <img class="main-media main-media-bottom" src="../assets/OFM/ofm4.jpg">
    <!-- •••••••••••••• Mobile •••••••••••••• -->
    <div class="section-title">
      <h4>Interface – Mobile</h4>
    </div>
    <video class="main-media mobile-view" width="100%" height="auto" autoplay loop>
      <source src="../assets/OFM/OFM-Mobile.mp4" type="video/mp4">
          Your browser does not support the video tag.
    </video>
  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="#" class="bottom-nav-link">
    <div class="bottom-nav next">
      <div class="tags">
        <p><span>Next Project</span></p>
      </div>
      <div class="header">
        <div class="underline1"></div>
        <div class="regular-width">
          <h1>The Guardian Football 100</h1>
        </div>
      </div>
    </div>
  </a>

</body>

</html>