<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-
  scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <title>The Guardian Virtual Reality</title>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a href="#">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Product Design</span><span>UI</span><span>UX</span><span>Design Direction</span></p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width visible">
        <span>The Guardian</span><span>Virtual Reality</span>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <img class="main-media main-media-top mobile-view main-media-bottom" src="../assets/VR/vr-mobile.jpg">
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo.<br/>        <br/> viverra maecenas accumsan lacus vel facilisis volutpat est velit. Ornare lectus sit amet est placerat in. Sed pulvinar proin gravida hendrerit lectus. Tristique risus nec feugiat in fermentum posuere. Viverra nam libero justo laoreet sit
        amet cursus. Ut porttitor leo a diam sollicitudin tempor id eu. Commodo viverra maecenas accumsan lacus vel.
      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->
    <div class="section-title">
      <h4>Logo</h4>
    </div>
    <img class="medium-media main-media-top main-media-bottom" src="../assets/VR/vr-logo.svg">
    <!-- <div class="section-title">
      <h4>Icon</h4>
    </div>
    <img class="xsmall-media main-media-top main-media-bottom" src="../assets/VR/icon.png"> -->
    <div class="section-title">
      <h4>Palette</h4>
    </div>
    <img class="medium-media main-media-top main-media-bottom" src="../assets/VR/palette.png">
    <div class="section-title">
      <h4>Interface – Mobile</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom mobile-view" src="../assets/VR/vr-mobile.jpg">
    <div class="section-title">
      <h4>Interface – Google Daydream</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom mobile-view" src="../assets/VR/vr-daydream.jpg">
    <div class="section-title">
      <h4>Experiences</h4>
    </div>
    <div class="main-media">
      <img class="mobile-media" src="../assets/VR/party.jpg">
      <img class="mobile-media" src="../assets/VR/arctic.jpg">
      <img class="mobile-media" src="../assets/VR/crime.jpg">
      <img class="mobile-media" src="../assets/VR/69.jpg">
      <img class="mobile-media" src="../assets/VR/underworld.jpg">
      <img class="mobile-media" src="../assets/VR/limbo.jpg">
    </div>

    <div class="section-title">
      <h4>Graphics</h4>
    </div>
    <img class="main-media main-media-top mobile-view" src="../assets/VR/graphic1.jpg">
    <img class="main-media mobile-view" src="../assets/VR/graphic2.jpg">
    <div class="main-media main-media-bottom">
      <img class="mobile-media" src="../assets/VR/1.png">
      <img class="mobile-media" src="../assets/VR/2.png">
      <img class="mobile-media" src="../assets/VR/3.png">
    </div>
  </div>


  <!-- <div class="section-title">
      <h4>Interface – Daydream VR</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom mobile-view" src="../assets/VR/vr-daydream.jpg"> -->

  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="#" class="bottom-nav-link">
    <div class="bottom-nav next">
      <div class="tags">
        <p><span>Next Project</span></p>
      </div>
      <div class="header">
        <div class="underline1"></div>
        <div class="regular-width">
          <h1>The Observer Food Monthly</h1>
        </div>
      </div>
    </div>
  </a>

</body>

</html>
