<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <title>The Guardian Virtual Reality</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58710208-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-58710208-1');
  </script>
</head>

<body>
  <!-- •••••••••••••• Menu •••••••••••••• -->
  <div class="home">
    <a class="home-link" href="http://joshuadavid.london/">
      <div class="button-wrap">
        <svg class="line1" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
        <svg class="line2" width="50" height="1" viewBox="0 0 50 1">
          <path fill="none" stroke="#979797" d="M50,135.5 L100,135.5" transform="translate(-50 -135)"/>
        </svg>
      </div>
    </a>
  </div>
  <!-- •••••••••••••• Container •••••••••••••• -->
  <div class="content-container">
    <div class="tags">
      <p><span>Product Design</span><span>UI</span><span>UX</span><span>Design Direction</span></p>
      </p>
    </div>
    <!-- •••••••••••••• Header •••••••••••••• -->
    <div class="header">
      <div class="extended-width visible">
        <span>The Guardian</span><span>Virtual Reality</span>
      </div>
    </div>
    <!-- •••••••••••••• Main Media •••••••••••••• -->
    <img class="first-media main-media-bottom" src="../assets/VR/vr-mobile.jpg">
    <!-- •••••••••••••• Copy •••••••••••••• -->
    <div class="section-title">
      <h4>The Project</h4>
    </div>
    <div class="regular-width">
      <p class="description">
        The Guardian had several pieces of VR content with more in production but no specific housing to place them, so we teamed up with Google to launch a designated virtual reality app exclusively for their Daydream platform. I was tasked with designing a clean, coherent virtual interface for users to select from a range of experiences, learn more, download and launch.

        <br/> <br/>We later decided to expand our reach with a traditional app for iPhone and Android devices. I created a sister app which mirrored the user-flow of our Daydream app, allowing a whole new set of users to engage in our immersive journalism via a cardboard headset. On launch we did a massive giveaway of headsets with our Saturday paper.
      </p>
    </div>
    <!-- •••••••••••••• Images •••••••••••••• -->

    <div class="section-title">
      <h4>Wireframes – Daydream Main Interface</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom mobile-view" src="../assets/VR/wires.gif">
    <div class="section-title">
      <h4>Wireframes – Daydream Experience Interface</h4>
    </div>
    <img class="main-media main-media-bottom mobile-view" src="../assets/VR/wires2.gif">
    <div class="section-title">
      <h4>Wireframes – Cardboard App Interface</h4>
    </div>
    <img class="main-media main-media-bottom  mobile-view" src="../assets/VR/wires3.gif">

    <div class="section-title">
      <h4>Logo</h4>
    </div>
    <img class="small-media main-media-top main-media-bottom" src="../assets/VR/vr-logo.svg">
    <div class="section-title">
      <h4>Palette</h4>
    </div>
    <img class="medium-media main-media-top main-media-bottom" src="../assets/VR/palette.png">

    <div class="section-title">
      <h4>Daydream Main Interface</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom  mobile-view" src="../assets/VR/main2.png">
    <div class="section-title">
      <h4>Daydream Experience Interface</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom  mobile-view" src="../assets/VR/exp2.png">
    <div class="section-title">
      <h4>Daydream Controls Interface</h4>
    </div>
    <img class="main-media main-media-bottom mobile-view" src="../assets/VR/exp4.png">
    <div class="section-title">
      <h4>Experience Tiles</h4>
    </div>
    <div class="main-media main-media-bottom">
      <img class="mobile-media" src="../assets/VR/party.jpg">
      <img class="mobile-media" src="../assets/VR/crime.jpg">
      <img class="mobile-media" src="../assets/VR/limbo.jpg">
      <img class="mobile-media" src="../assets/VR/69.jpg">
      <img class="mobile-media" src="../assets/VR/underworld.jpg">
      <img class="mobile-media" src="../assets/VR/arctic.jpg">
    </div>

    <div class="section-title">
      <h4>Cardboard App Interface</h4>
    </div>
    <img class="main-media main-media-bottom mobile-view" src="../assets/VR/app.gif">


    <!-- <div class="section-title">
      <h4>App – Wireframes</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom  mobile-view" src="../assets/VR/wires3.gif"> -->

    <!-- <div class="section-title">
      <h4>App – Interface</h4>
    </div>
    <img class="main-media main-media-top main-media-bottom mobile-view" src="../assets/VR/app.gif"> -->
    <!-- <div class="flex-media">
      <img class="mobile-media" src="../assets/VR/vr-mobile2.jpg">
      <img class="mobile-media" src="../assets/VR/vr-mobile3.jpg">
      <img class="mobile-media" src="../assets/VR/vr-mobile4.jpg">
    </div> -->

    <!-- <div class="section-title">
      <h4>Icon</h4>
    </div>
    <img class="xsmall-media main-media-top main-media-bottom" src="../assets/VR/icon2.png"> -->


  </div>
  <!-- •••••••••••••• Next •••••••••••••• -->
  <a href="http://joshuadavid.london/views/graphic.html" class="bottom-nav-link">
    <div class="bottom-nav-in">
      <div class="bottom-nav next">
        <div class="tags">
          <p><span>Next Project</span></p>
        </div>
        <div class="header">
          <div class="extended-width">
            <span>The Observer</span><span>Graphic Special</span>
          </div>
          <div class="mobile-only">
            <span>The Observer</span><span>Graphic</span><span>Special</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <script src="../js/script.js"></script>

</body>

</html>
